<!-- templates/home.twig -->
<html>
    <body>
        <h1>{{ message }}</h1><!--Twig recibe el parámetro message y lo muestra dentro de <h1>{ }}</h1>.-->
    </body>
</html>
<!--El archivo de plantilla donde se muestra el contenido dinámico.-->